{{ define "main" }}
  <div class="container pt-5">
    <div class="row mt-5 pt-5">
      <div class="col-md-8">
        {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
      </div>
    </div>
  <nav class="flex-row">
    <section id="cookbook" class="cookbook">

<h1>Cookbook Tags</h1>
{{/* Initialize a slice to store unique tags */}}
{{ $uniqueTags := slice }}

{{/* Loop through all recipes and collect tags */}}
{{ range $filename, $recipe := .Site.Data.cookbook }}
  {{ range $tag := $recipe.Tags }}
    {{/* Ensure that the tag is only added if it's not already in the slice */}}
    {{ if not (in $uniqueTags $tag) }}
      {{ $uniqueTags = $uniqueTags | append $tag }}
    {{ end }}
  {{ end }}
{{ end }}

{{/* Sort the unique tags alphabetically */}}
{{ $sortedUniqueTags := $uniqueTags | sort }}

{{/* Render the unique and sorted tags */}}
<ul>
  {{ range $tag := $sortedUniqueTags }}
    <li><a href="/cookbook/tags/{{ lower $tag | urlize }}">{{ $tag }}</a></li>
  {{ end }}
</ul>
{{ end }}
