<h5>EDUCATION</h5>

 {{ range sort .Site.Data.resume.education "StartYear" "desc" }}
  {{ range .Ed }}
  <span style="display: flex; align-items: flex-start; margin: 0; text-align: left;">
  <strong class="degree" style="flex: 0 0 23%; min-width: 0; overflow-wrap: break-word;">
    {{ .Degree }}
  </strong>

    <div class="major" style="flex: 0 0 55%; margin-left: 5%;">
      <strong>
        {{ .Major }}{{ with .School }}, {{ . }}{{ end}}  
      </strong>
      <p class="blurb" style="font-weight: normal;">
        {{ .Blurb }}
      </p>
    </div>
  <span class="degree-dates" style="flex: 0 0 12%; margin-left: 5%; text-align: right; font-weight: normal;">
    {{ .Start }}{{ with .End }} - {{ . }}{{ end }}
  </span>
</span>
{{ end }}
{{ end }} 
