<h2>EDUCATION</h2>

 {{ range sort .Site.Data.resume.education "StartYear" "desc" }}
  {{ range .Ed }}
  <h4 style="display: flex; align-items: flex-start; margin: 0; text-align: left;">
  <span class="degree" style="flex: 0 0 23%; min-width: 0; overflow-wrap: break-word;">
    {{ .Degree }}
  </span>

    <div class="major" style="flex: 0 0 55%; margin-left: 5%;">
      <span>
        {{ .Major }}{{ with .School }}, {{ . }}{{ end}}  
      </span>
      <p class="blurb" style="font-weight: normal; font-size: 1.5cqh">
        {{ .Blurb }}
      </p>
    </div>
  <span class="degree-dates" style="flex: 0 0 12%; margin-left: 5%; text-align: right; font-weight: normal; font-size: 1.5cqh;">
    {{ .Start }}{{ with .End }} - {{ . }}{{ end }}
  </span>
</h4>
{{ end }}
{{ end }} 
