<h5>HONORS & AWARDS</h5>


 {{ range sort .Site.Data.resume.honors "Year" "desc" }}
<ul style="padding: 0;">  
<span style="display: flex; align-items: flex-start; margin: 0; text-align: left;">
  <strong class="award" style="flex: 0 0 23%; min-width: 0; overflow-wrap: break-word;">
    {{ .Award }}
  </strong>

    <span class="granter" style="flex: 0 0 54%; margin-left: 3%;">
      {{ .Granter }}
    </span>
  <span class="grant_date" style="flex: 0 0 17%; margin-left: 3%; text-align: right; font-weight: normal;">
    {{ .Year }}
  </span>
</span>
</ul>
{{ end }}
