<h5>LEADERSHIP & SERVICE</h5>

 {{ range sort .Site.Data.resume.leadership "StartYear" "desc" }}
  <span style="display: flex; align-items: flex-start; margin: 0; text-align: left;">
  <strong class="position" style="flex: 0 0 23%; min-width: 0; overflow-wrap: break-word;">
    {{ .Title }}
  </strong>

    <div class="org" style="flex: 0 0 55%; margin-left: 5%;">
      <em>
        {{ .Organization }}
      </em>
      <p class="blurb" style="font-weight: normal;">
        {{ .Blurb }}
      </p>
    </div>
  <span class="served-dates" style="flex: 0 0 12%; margin-left: 5%; text-align: right; font-weight: normal;">
    {{ .Years }}
  </span>
</span>
{{ end }}
