<h2>LEADERSHIP & SERVICE</h2>

 {{ range sort .Site.Data.resume.leadership "StartYear" "desc" }}
  <h4 style="display: flex; align-items: flex-start; margin: 0; text-align: left;">
  <span class="position" style="flex: 0 0 23%; min-width: 0; overflow-wrap: break-word;">
    {{ .Title }}
  </span>

    <div class="org" style="flex: 0 0 55%; margin-left: 5%;">
      <span>
        {{ .Organization }}
      </span>
      <p class="blurb" style="font-weight: normal; font-size: 1.7cqh">
        {{ .Blurb }}
      </p>
    </div>
  <span class="served-dates" style="flex: 0 0 12%; margin-left: 5%; text-align: right; font-weight: normal; font-size: 1.7cqh;">
    {{ .Years }}
  </span>
</h4>
{{ end }}
