<h5>SELECTED EXPERIENCE</h5>

 {{ range sort .Site.Data.resume.work "StartYear" "desc" }}
  {{ $employerName := .Name }} 
   {{ range sort .Roles "Start" "desc" }} 

    <span style="display: flex; align-items: flex-start; margin: 0; text-align: left;">
  <strong class="job-title" style="flex: 0 0 23%; min-width: 0; overflow-wrap: break-word;">
    {{ .Title }}{{ with .Team }}<br><span class="team" style="font-weight: normal;">{{ . }}</span>{{ end }}
  </strong>

<div class="company" style="flex: 0 0 55%; margin-left: 5%;">
  <div>
    <strong>{{ $employerName }}</strong>{{ with .Location }}, <span class="location" style="font-weight: normal;">{{ . }}</span>{{ end }}
  </div>
  <div>
    <ul class="blurb" style="font-weight: normal;">
      {{ range .Bullets }}
        <li>{{ . }}</li>
      {{end}}
    </ul>
  </div>
</div>

  <span class="job-dates" style="flex: 0 0 12%; margin-left: 5%; text-align: right; font-weight: normal;">
    {{ .Start }}{{ with .End }} - {{ . }}{{ end }}
  </span>
</span>

{{ end }}
{{ end }}
